body{
    background-color: #efefef !important;
}
.single-blog
{
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2) ;
    padding: 10px;
    margin-top: 30px;
    background-color: #fff;
}
.single-blog img
{
    width : 100%
}
.blog-meta
{
    font-size:14px;
    margin-bottom:2px;
}
.single-blog span
{
    float: left;
    font-size: 18px;
    color: rgb(187, 107, 104);
}
.single-blog h3{
    margin-top: 10px;
    font-size: 16px;

    text-align: justify !important;
}
.single-blog h3 a{
    text-decoration: none;
    text-align: left !important;
    color:black;
}