<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
       
        <title></title>
        
        
        <!-- css -->
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../assets/css/header.css" />
    </head>

    <body>
        <!-- header -->
        <header>
           
           
            <div class="head-container bg-secondary">
                <nav
                    class="navbar navbar-expand-sm navbar-light bg-light bg-transparent"
                    style=""
                >
                    <a class="navbar-brand " href="#">Event Bright</a>
                    <!--          button-->
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!--collapse button end-->
                    <div class="search">
                       
                        <form class="search_bar form-inline my-2 my-lg-0 ">
                            <input
                                class="form-control mr-sm-2"
                                type="search"
                                placeholder="Search"
                                aria-label="Search"
                            />
                            <button
                                class="btn search-btn btn-outline-success my-2 my-sm-0"
                                type="submit"
                            >
                                Search
                            </button>
                        </form>
                  
                    </div>

                    <div
                        class="collapse navbar-collapse ml-auto bg-transparent"
                        id="navbarSupportedContent"
                    >
                        <ul class="navbar-nav bg-transparent ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#"
                                    >Home
                                    <span class="sr-only">(current)</span></a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="navbarDropdown"
                                    role="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                >
                                    Dropdown
                                </a>
                                <div
                                    class="dropdown-menu"
                                    aria-labelledby="navbarDropdown"
                                >
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#"
                                        >Another action</a
                                    >
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"
                                        >Something else here</a
                                    >
                                </div>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link disabled"
                                    href="#"
                                    tabindex="-1"
                                    aria-disabled="true"
                                    >Disabled</a
                                >
                            </li>
                        </ul>
                    </div>
                </nav>
                <!--                carsoule-->

                <div class="carsoule">
                    <div
                        id="carouselExampleSlidesOnly"
                        class="carousel slide"
                        data-ride="carousel"
                    >
                        <div class="carousel-caption d-md-block">
                            <h5>slide label</h5>
                            <p>
                                Nulla vitae elit libero, a pharetra augue mollis
                                interdum.
                            </p>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img
                                    src="../assets/img/Breakfast.png"
                                    class=" img-fluid w-100"
                                    alt="..."
                                />
                            </div>
                            <div class="carousel-item">
                                <img
                                    src="../assets/img/Dinner.png"
                                    class=" img-fluid w-100"
                                    alt="..."
                                />
                            </div>
                            <div class="carousel-item">
                                <img
                                    src="../assets/img/Lunch.png"
                                    class=" img-fluid w-100"
                                    alt="..."
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <!--               filter -->
                <div class="filter ">
                    <div class="cardlist">
                        <label for="date">i want to go out<br /></label>
                        <input type="date" value="" id="date" />
                    </div>
                    <div class="cardlist">
                        <p>
                            <label for="select">in</label><br/>
                            <select id="select">
                                <option value="">Choose...</option>
                                <optgroup label="Option group 1">
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                    <option value="">Option 3</option>
                                </optgroup>
                                <optgroup label="Option group 2">
                                    <option value="">Option 4</option>
                                    <option value="">Option 5</option>
                                    <option value="">Option 6</option>
                                </optgroup>
                            </select>
                        </p>
                    </div>
                    <div class="cardlist">
                        <p>
                            <label for="select">im on the mood for</label>
                            <select id="select">
                                <option value="">Choose...</option>
                                <optgroup label="Option group 1">
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                    <option value="">Option 3</option>
                                </optgroup>
                                <optgroup label="Option group 2">
                                    <option value="">Option 4</option>
                                    <option value="">Option 5</option>
                                    <option value="">Option 6</option>
                                </optgroup>
                            </select>
                        </p>
                    </div>
                </div>
            </div>

            <!--    banner words-->
        </header>

        <script src="../assets/js/jquery-3.2.1.slim.min.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>
    </body>
</html>
