{{ define "music.layout" }}
{{ template "index.layout" . }}
{{ template "navbar.layout" . }}
{{ template "music.content" }}
{{ template "footer.layout" . }}
{{ end }}

{{ define "music.content"}}
<div class="container text-center">
    <h2 >Event in Addis Ababa</h2>
    <div class="row" >
        <div class="card col-md-4" style="width: 18rem;">
            <img src="/assets/img/anthony-intraversato-360221-unsplash.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        <div class="card col-md-4" style="width: 18rem;">
            <img src="/assets/image/anthony-intraversato-360221-unsplash.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-md-4" style="width: 18rem;">
            <img src="/assets/image/anthony-intraversato-360221-unsplash.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
<!--
<div class="col-md-4">
                <div class="single-blog">
                    <img src="/assets/image/anthony-intraversato-360221-unsplash.jpg" alt="first image">
                        <p class="blog-meta"><span>sat, jan 4, 3:00pm</span></p>
                        <h5>
                                <br>
                            <a href="#" >Learn how to do this thing mnamn eyalk tmolaleh </a>
                        </h5>
        
                    </div>
        </div>







        <div class="col-md-4">
                <div class="single-blog">
                    <img src="/assets/image/anthony-intraversato-360221-unsplash.jpg" alt="first image">
                        <p class="blog-meta"><span>sat, jan 4, 3:00pm</span></p>
                        <h5>
                                <br>
                            <a href="#" >Learn how to do this thing mnamn eyalk tmolaleh </a>
                        </h5>
        
                    </div>
        </div>






        <div class="col-md-4">
                <div class="single-blog">
                    <img src="/assets/image/anthony-intraversato-360221-unsplash.jpg" alt="first image">
                        <p class="blog-meta"><span>sat, jan 4, 3:00pm</span></p>
                        <h5>
                                <br>
                            <a href="#" >Learn how to do this thing mnamn eyalk tmolaleh </a>
                        </h5>
        
                    </div>
        </div>






















        <div class="col-md-4">
                <div class="single-blog">
                        <img src="assets/images/1.jpg" alt="first image">
                        <p class="blog-meta"><span>sat, jan 4, 3:00pm</span></p>
                        <h5>
                                <br>
                            <a href="#" >Learn how to do this thing mnamn eyalk tmolaleh </a>
                        </h5>
        
                    </div>
        </div>







        <div class="col-md-4">
                <div class="single-blog">
                        <img src="assets/images/1.jpg" alt="first image">
                        <p class="blog-meta"><span>sat, jan 4, 3:00pm</span></p>
                        <h5>
                                <br>
                            <a href="#" >Learn how to do this thing mnamn eyalk tmolaleh </a>
                        </h5>
        
                    </div>
        </div>







        

</div>
-->

        
</div>
{{end}}