{{ define "navbar.layout" }}

  <header class="container">
    <h1 class="text-center">
        Popular in <span style="color: blue;">Addis Ababa </span>
    </h1>
    <hr class="text-center">
    <nav class="navbar navbar-light navbar-expand-md">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
        <span class="navbar-toggler-icon">

        </span>
    </button>

        <div class="collapse navbar-collapse container" id="menu">
                <ul class="navbar-nav">
                        <li class="nav-item active">
    
                                <a href="#" class="nav-link">All</a>
                        <li class="nav-item ">
                            <a href="#" class="nav-link">For You</a>
        
                        </li>
                        <li class="nav-item">
                                <a href="#" class="nav-link">This weekend</a>
            
                            </li>
                        <li class="nav-item">
                                <a href="#" class="nav-link">News Year's Eve</a>
            
                            </li>
                        <li class="nav-item">
                                <a href="#" class="nav-link">Free</a>
            
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Music</a>
            
                            </li>
                            <li class="nav-item">
                                    <a href="#" class="nav-link">Food and Drink</a>
                
                                </li>
                                <li class="nav-item ">
                                        <a href="#" class="nav-link">Charity and Causes</a>
                    
                                    </li>
                    </ul>
                </nav>
                
        </div>
       
</header>


{{end}}